.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 400px;
  padding: 0.5rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  button {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    background: #0c1635;
    color: #d9b1b1;

    &:hover {
      background: #0c1333;
      color: white;
    }

    &:disabled {
      background: gray;
      cursor: default;

      &:hover {
        color: #d9b1b1;
      }
    }
  }
}
