.notFoundPage {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 50vw;
  position: relative;
}

.backdrop img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 5px 30px -10px var(--primary-color);
  opacity: 0.5;
  transform: rotate(4deg);
}

.backdrop h1 {
  z-index: var(--z-medium);
  transform: rotate(-3deg);
  text-shadow: 2px 4px 8px rgb(0 0 0 / 30%);
}
