.app.dark {
  --bg-color: #2e2e3f;
  --inverted-bg-color: #eee2e2;
  --primary-color: #e3efc7;
  --secondary-color: #c7b4b4;
  --inverted-primary-color: #21311a;
  --inverted-secondary-color: #455ae8;
}
