.app.light {
  --bg-color: #eee2e2;
  --inverted-bg-color: #2e2e3f;

  --primary-color: #2f2121;
  --secondary-color: #604a4a;

  --inverted-primary-color: #f1eede;
  --inverted-secondary-color: #f5efb8;
}